html {
  
    body{
      
        a{
            color:white;
        }

        .story {
            text-align: center;

            img {
                border-radius: var(--br-md);
            }
            p {
                color:white;
                font-family: Poppins;
            }
        }

    }
}