* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----TEST----- */




@media only screen and (max-width: 390px) {

    html {

        body {
            background: var(--background-color);

            h1 {
                text-align: center;
                font-size: var(--md);
            }

            label {
                display: flex;
                justify-content: center;
                position: relative;
            }
            label:before {
                content: "";
                position: absolute;
                left: 7%;
                bottom:0;
                top:0;
                width:20px;
                cursor: pointer;
                background: url("assets/Icons/basic/search.svg") center no-repeat;
            }
            .searchbar {
                padding: 8px 100px 8px 100px;
            }
        }

        .filtering {
            display: flex;
            justify-content: center;
            gap: 4vw;

            details {
                background-color: var(--button-popup-color);
            }
        }

        .stories-container {

            .story-container {
                padding: 10px;
                margin: 20px;
                background-color: var(--story-background-color);
            }
        }
    }
}