* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----TEST----- */





html {
    width: 100%;
    height: 100%;

    body {
        margin-left: clamp(0rem, -8.3333rem + 37.037vw, 25rem);
        margin-right: clamp(0rem, -8.3333rem + 37.037vw, 25rem);

        background: var(--background-color);

        h1 {
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;

            font-size: var(--lg);
        }

        .search-form {
            text-align: center;

            .search-button {
                position: absolute;
                z-index: 1;
                width: 16px;
                height: 16px;
                margin: 8px;

                cursor: pointer;
                border: none;
                background: url("assets/Icons/basic/search.svg") no-repeat;
            }

            .searchbar {
                position: relative;
                padding: 8px 80px 8px 80px;

                border: none;
                border-radius: 8px;
            }
        }

        .detail-container {
            text-align: center;
            margin-top: 10px;
            margin-left: clamp(1rem, -2.4167rem + 15.1852vw, 11.25rem);;
            margin-right: clamp(1rem, -2.4167rem + 15.1852vw, 11.25rem);;

            background: var(--button-color);
            border-radius: var(--br-sm);
            color: var(--story-text-white);
            font-family: var(--primary-font);
            list-style: none;

            
        }
        .detail-container:hover {
            background-color: #7f46f9;
            transition: .3s;
        }

        .stories-container {
            height: 50vh;
            display: flex;
            flex-direction: column;
            overflow-x: scroll;

            li {
                width: 320px;
                padding: 10px;
                margin: 20px 30px 20px 30px;

                background-color: var(--story-background-color);
                font-family: var(--primary-font);
                font-weight: var(--primary-font-weight);
                color: var(--story-text-black);
                list-style-type: none;
                border-radius: var(--br-md);
            }

            .story {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                align-items: center;
                grid-gap: 5px;

                img {
                    grid-area: 1 / 1 / 4 / 2;
                    width: 20vw;
                    max-width: 100px;
                    height: auto;
                    border-radius: 10px;
                    background-size: cover;
                    background-position: center;
                }

                h2 {
                    grid-area: 1 / 2 / 2 / 5;
                    font-size: var(--md);
                }

                p {
                    grid-area: 2 / 2 / 3 / 5;
                    font-size: var(--sm);
                }

                a {
                    grid-area: 3 / 2 / 4 / 5;
                    font-size: var(--sm);
                    text-decoration: none;
                    text-align: center;
                    background-color: var(--button-color);
                    width: 10rem;
                    color: var(--story-background-color);
                    border-radius: var(--br-sm);
                }
                a:hover {
                    background-color: #7f46f9;
                    transition: .3s;
                }
            }
        }

        footer {
            margin: 10px;
            text-align: center;

            a {
                padding: 2px 70px 2px 70px;

                text-decoration: none;
                border-radius: var(--br-sm);
                color: var(--story-text-white);
                font-family: var(--primary-font);
                background: var(--button-color);
            }
            a:hover {
                background-color: #7f46f9;
                transition: .3s;
            }
        }

    }

}