* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----TEST----- */




@media only screen and (max-width: 1000px) {

    html {

        body {
            background: var(--background-color);

            h1 {
                text-align: center;
                font-size: var(--md);
            }

            .search-form {
                text-align: center;

            .search-button {
                position: absolute;
                z-index: 1;
                width: 16px ;
                height: 16px;
                margin: 8px;
                cursor: pointer;
                border:none;
                background: url("assets/Icons/basic/search.svg") no-repeat;
            }

            .searchbar {
                position: relative; 
                padding: 8px 80px 8px 80px;

                border: none;
                border-radius: 8px;
            }
        }

        .detail-container {
            text-align: center;
            margin-top: 10px;
            margin-left:30vw;
            margin-right: 30vw;

            background: white;
            border-radius:var(--br-sm);
            color:black;
            font-size:var(--s);
            font-family: var(--primary-font);

        }
         .stories-container {
            
            .story-container {
                padding: 10px;
                margin: 20px;
                background-color: var(--story-background-color);
                font-family: var(--primary-font);
                font-weight: var(--primary-font-weight);
                color: var(--story-text-black);
                list-style-type: none;
                border-radius: var(--br-md);
            }

            .story {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                align-items: center;

                img {
                    grid-area: 1 / 1 / 4 / 2;
                    width: 20vw;
                    height: 20vh;
                    max-width: 500px;
                    height: auto;
                    border-radius: 10px;
                    background-size: cover;
                    background-position: center;
                }

                h2 {
                    grid-area: 1 / 2 / 2 / 5;
                    float: left;
                    font-size: var(--sm);
                }

                p {
                    font-size: var(--xs);
                }
            }
        }
        }

    }

    .filtering {
        display: flex;
        justify-content: center;
        gap: 4vw;

        details {
            background-color: var(--button-popup-color);
        }
    }
}